@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --def-color: #7C3AED;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    background: transparent;
}

header:hover {
    background: #f4f4f4;
}

a {
    text-decoration: none;
}

.btn {
    background: var(--def-color);
    border: 1px solid var(--def-color);
    border-radius: 10px;
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1136px) {

    .btn {
        padding: 1em 2em;
    }

    header {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    header, section, footer {
        width: 100%;
        padding: 0 10%;
        box-sizing: border-box;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
    }

    nav ul li {
        text-align: center;
        margin-left: 2em;
    }

    nav ul a {
        font-size: 12px;
        font-weight: 700;
        color: #000;
    }

    .phone-number {
        font-size: 16px;
    }

    .phone-name {
        font-weight: 300;
        font-size: 10px;
    }

    .hero {
        height: 100vh;
        background-image: url('assets/images/hero-background.jpg');
        background-size: cover;
        display: flex;
        justify-content: space-around;
    }

    .hero > div {
        margin-top: 25vh;
    }

    .hero-content {
        max-width: 30vw;
        min-width: 25vw;
    }

    .hero-content h1{
        font-size: 48px;
    }

    .hero-content p {
        margin: 40px 0;

    }

    .hero-form{
        background: #444444;
        padding: 2.5em;
        border-radius: 20px;
        text-align: center;
        height: 40vh;
        width: 25vw;

    }

    .hero-form form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .hero-form form input,textarea,button {
        margin-top: 2.2vh;
        border: none;
        resize: none;
    }

    .hero-form form input {
        border: none;
        height: 4vh;
    }

    .hero-form p {
        color: #fff;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {
    .phone-number {
        font-size: 20px;
    }

    .phone-name {
        font-size: 12px;
    }
    nav ul a {
        font-size: 16px;
    }
}
