@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

:root {
    --def-dark: #4E4E4E;
    --def-yeallow: #F0CD50;
    --def-light-gray: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Mono', monospace;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.btn-mob {
    font-size: 24px;
    width: 300px;
    padding: 25px 0;
    border-radius: 9px;
}

.btn {
    display:  none;
}

.btn-dark-transp {
    background: transparent;
    border: 1px solid var(--def-dark);
    color: var(--def-dark);
}

.btn-yell {
    background: var(--def-yeallow);
    border: 1px solid var(--def-dark);
    color: var(--def-dark);
}

.modal {
    display: none;
}

.modal-active {
    color: var(--def-light-gray);
}

a {
    text-decoration: none;
}

.tel-link {
    color: var(--def-dark);
}

.tel-link:hover {
    color: var(--def-yeallow);
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}


.nav-upbar {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    
}

.upbar-item {
    margin: 2vh 0;
}

.nav-desc {
    width: 300px;
    text-align: center;
    font-size: 24px;
}

.inst-logo {
    width: 64px;
}

.nav-phone {

}

.nav-phone span {
    display: block;
    text-align: center;
}

.nav-phone-number {
    font-size: 32px;
    font-weight: 700;
}

.nav-phone-name {
    font-size: 20px;
    margin-top: 10px;
}

.nav-downbar {
    display: none;
}

header {
    height: 100vh;
    color: var(--def-dark);
    background-image: url('assets/images/hero-background.jpg');
    background-size: cover;
}

.modal-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.form-modal {
    background: var(--def-dark);
    padding: 50px;
    border-radius: 20px;
}

.form-modal p {
    margin-bottom: 30px;
}

main {
    width: 100%;
}

.hero-section {
    background-image: url('assets/images/hero-background.jpg');
    background-size: cover;
    color: var(--def-dark);
}

/*Tablets*/
@media only screen and (max-width: 600px) {
    .container {
        
    }
}

/*Desctop*/
@media only screen and (min-width: 768px) {

    .inst-logo {
        width: 24px;
    }

    .btn-mob {
        display: none;
    }

    .btn {
        display: block;
        font-size: 16px;
        width: 200px;
        padding: 18px 0;
        border-radius: 9px;
    }

    .btn-dark-transp:hover {
        display: block;
        border: 1px solid var(--def-yeallow);
        color: var(--def-yeallow);
    }

    .container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        max-width: 1200px;
        min-width: 600px;
    }

    header {
        background-image: none;
        position: absolute;
        top: 0;
    }

    nav {
        width: 100%;
    }

    .nav-upbar {
        height: min-content;
        background-image: none;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav-desc {
        font-size: 16px;
        width: 150px;
        text-align: center;
    }

    .nav-phone span {
        display: block;
        text-align: center;
    }

    .nav-phone-number {
        font-size: 18px;
        font-weight: 700;
    }

    .nav-phone-name {
        margin-top: 10px;
        font-size: 16px;
    }

    .nav-downbar {
        margin-top: 25px;
        margin-left: 200px;
        margin-right: 200px;
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        list-style-type: none;
        flex-flow: row nowrap;
    }

    .nav-downbar li {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
    }

    .nav-downbar li:hover {
        color: var(--def-yeallow);
        cursor: pointer;
    }

    section {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: 100vh;
    }

    .modal-active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .form-modal {
        background: var(--def-dark);
        padding: 50px;
        border-radius: 20px;
    }

    .form-modal p {
        margin-bottom: 30px;
    }
}